#myform {
  color: #050441;
  position: fixed;
  top: 5%;
  left: 2%;
  border: 2px solid rgb(21, 255, 0);
  border-radius: 20px 20px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: blue;
  padding: 10px;
}
button[type="submit"] {
  border-color: green;
  border: 1px solid green;
}

#myInput {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
