#myform {
  color: #050441;
  background-color: rgb(196, 196, 245);
  position: fixed;
  top: 5%;
  left: 2%;
  border: 2px solid rgb(30, 3, 150);
  border-radius: 20px 20px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: blue;
  padding: 10px;
}
button[type="submit"] {
  border-color: green;
  border: 1px solid green;
  padding: 10px;
}

#myInput {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  color: blue;
}
