button {
  padding: 2px;
  margin: 10px;
  color: #80453d;
}
button[type="submit"] {
  border-radius: 12px;
}

button[type="button"]:hover {
  background-color: red;
  color: yellow;
}
button[type="submit"]:hover {
  background-color: green;
  color: yellow;
  border-radius: 12px;
}
li {
  color: black;
  font-size: medium;
  font-weight: 600;
}
